<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Managament App</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
<div id="app">
    <h1 class="mb-5">Task Management App</h1>
    <section v-show="inProgressAssignments.length">        
        <h2 class="font-bold mb-2">In Progress</h2>
        <ul>
                <li 
                    v-for="assignment in inProgressAssignments" 
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>                    
                </li>  
        </ul>        
    </section>
    <section class="mt-5" v-show="completedAssignments.length">
        <h2 class="font-bold mb-2">Completed</h2>
        <ul>
                <li 
                    v-for="assignment in completedAssignments" 
                    :key="assignment.id"
                >
                    <label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.completed">
                    </label>                    
                </li>  
        </ul>       
    </section>
</div>
<script>
    let app = {
        data() {
            return {
                assignments: [
                    { name: 'Task 1', completed: false, id: 1},
                    { name: 'Task 2', completed: false, id: 2},
                    { name: 'Task 3', completed: false, id: 3}
                ]
            }
        },
        computed: {
            inProgressAssignments() {
                return this.assignments.filter(a => ! a.completed)
            },
            completedAssignments() {
                return this.assignments.filter(a => a.completed)
            }
        }

    }
	Vue.createApp(app).mount('#app');
</script>
</body>
</html>